.intro{
  background-color: white;
  display: flex;

  .left{
    flex: 0.5;

    .imgContainer{
      width: 43.8em;
      height: Calc(100vh - 70px);
      overflow: hidden;
      img{
        width: 100%;
      }
    }
  }

  .right{
    flex: 0.5;
  }
}
